<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Главная{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
                '@SipBundle/Resources/public/animate-plugin/*' filter='cssrewrite'
                '@SipBundle/Resources/public/css/*' filter='cssrewrite'
                '@SipBundle/Resources/public/fancybox/*' filter='cssrewrite'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <link rel="stylesheet" href="/bundles/sip/css/font-awesome.css">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}

    </head>
    <body>
    {% block body %}
        <div class="container">
            {% block header %}
            <div class="row">
                <div class="col-md-2">
                    {% image '@SipBundle/Resources/public/images/logo.png' %}
                    <img class="first-slide"   src="{{ asset_url }}"  alt="First slide">
                    {% endimage %}
                </div>
                <div class="col-md-4"><h2>Строительство коттеджей по канадской технологии</h2></div>
                <div class="col-md-3">
                    <h3><i class="fa fa-phone"></i>{{ tel_1 }}</h3>
                    <h3><i class="fa fa-phone"></i>{{ tel_2 }}</h3>
                    <h3><i class="fa fa-phone"></i>{{ tel_3 }}</h3>
                </div>
                <div class="col-md-3">
                    <h3><i class="fa fa-envelope-o"></i>{{ mail }}</h3>
                    <p><button class="btn btn-lg btn-primary" type="button">Заказать обратный звонок</button></p></div>
            </div>
            <div class="row">
                <div id="menu" class="navbar navbar-inverse default">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu" >
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="responsive-menu">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ url('sip_homepage') }}"> Главная</a> </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle"data-toggle="dropdown"> Выбор проекта<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('sip_house_category', { 'slug': 'do100m2' }) }}">Дома до 100 м2</a></li>
                                        <li><a href="{{ path('sip_house_category', { 'slug': '100-150m2' }) }}">Дома от 100 до 150 м2</a></li>
                                        <li><a href="{{ path('sip_house_category', { 'slug': '150-200m2' }) }}">Дома от 150 до 200 м2</a></li>
                                        {#<li class="divider"></li>#}
                                        <li><a href="{{ path('sip_house_category', { 'slug': '200-300m2' }) }}">Дома от 200 до 300 м2</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ url('sip_works') }}"> Портфолио</a> </li>
                                <li><a href="{{ url('sip_prices') }}"> Цены и сроки</a> </li>
                                <li><a href="{{ url('sip_contact') }}"> Контакты</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            {% endblock %}
            {% block content %}{% endblock %}

        </div>
        {% block footer %}

        <div id="footer" class="container-fluid">
            <div class="row ">
                <div class="col-md-2">
                    {% image '@SipBundle/Resources/public/images/logo.png' %}
                    <img class="first-slide" src="{{ asset_url }}"  alt="First slide">
                    {% endimage %}
                </div>
                <div class="col-md-4"><h2>Строительство коттеджей по канадской технологии</h2></div>
                <div class="col-md-3">
                    <h3><i class="fa fa-phone"></i>{{ tel_1 }}</h3>
                    <h3><i class="fa fa-phone"></i>{{ tel_2 }}</h3>
                    <h3><i class="fa fa-phone"></i>{{ tel_3 }}</h3>
                </div>
                <div class="col-md-3">
                    <h3><i class="fa fa-envelope-o"></i>{{ mail }}</h3>
                    <p><button class="btn btn-lg btn-primary" type="button">Заказать обратный звонок</button></p></div>
            </div>
        </div>
        {% endblock %}
        {% block javascripts %}
            {% javascripts
                '@SipBundle/Resources/public/js/jquery.min.js'
                '@SipBundle/Resources/public/animate-plugin/*'
                '@SipBundle/Resources/public/js/*'
            %}

            {#{% javascripts#}
            {#'/bundles/sip/js/jquery.min.js'#}
            {#'/bundles/sip/js/animate-plugin/*'#}
            {#'/bundles/sip/js/js/*'#}
            {#%}#}

                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    {% endblock %}
    </body>
</html>
