{% extends 'base.html.twig' %}


{% block title %}Admin{% endblock %}

{% block header %}
    <h1>Welcome to admin panel</h1>
    <a href="{{ path('sip_homepage') }}">Home</a>
    <a href="{{ path('sip_logout') }}">Logout</a>
{% endblock %}
{% block footer %}{% endblock %}


