{% extends "::base.html.twig" %}

{% block title %}Наши дома{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- подключение CSS файла Fancybox -->
    <link rel="stylesheet" href="/bundles/sip/fancybox/jquery.fancybox.css" type="text/css" media="screen" />

{% endblock %}

{% block content %}
    <h2 class="page-header text-center">{{ category.name }}</h2>
    <div class="row">
        {% for project in category.projects %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ asset('bundles/sip/images/do100/' ~ project.slug ~ "_1.jpg" ) }}">
                    <div class="caption">
                        <h3>Дом {{ project.area }} м² («{{ project.name }}»)</h3>
                        <p><a href="{{ path('project_show', { 'slug': project.slug }) }}" class="btn btn-primary btn-lg" role="button">Подробнее</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Подключение JS файла Fancybox -->
    {#<script type="text/javascript" src="/bundles/sip/fancybox/jquery.fancybox.js"></script>#}

    {% javascripts
        '@SipBundle/Resources/public/fancybox/*'
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            $("a.fancyimage").fancybox();
        });
    </script>
{% endblock %}
