{% extends 'base.html.twig' %}

 {% block content %}



         <div class="row">
             <div class="col-md-9 baner">
                 <!-- Carousel
               ================================================== -->
                 <div id="myCarousel" class="carousel slide" data-ride="carousel">
                     <!-- Indicators -->
                     <ol class="carousel-indicators">
                         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                         <li data-target="#myCarousel" data-slide-to="1"></li>
                         <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner" role="listbox">
                         <div class="item active">
                             {% image '@SipBundle/Resources/public/images/slide_2-1280x540.jpg' %}
                                <img class="first-slide" src="{{ asset_url }}"  alt="First slide">
                             {% endimage %}
                             <div class="container">
                                 <div class="carousel-caption">
                                     <h1>Example headline.</h1>
                                     <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                                     <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                                 </div>
                             </div>
                         </div>
                         <div class="item">
                             {% image '@SipBundle/Resources/public/images/slide_1-1280x540.jpg' %}
                                <img class="second-slide" src="{{ asset_url }}" alt="Second slide">
                             {% endimage %}
                             <div class="container">
                                 <div class="carousel-caption">
                                     <h1>Another example headline.</h1>
                                     <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                     <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                                 </div>
                             </div>
                         </div>
                         <div class="item">
                             {% image '@SipBundle/Resources/public/images/slide_2-1280x540.jpg' %}
                                <img class="third-slide" src="{{ asset_url }}" alt="Third slide">
                             {% endimage %}
                             <div class="container">
                                 <div class="carousel-caption">
                                     <h1>One more for good measure.</h1>
                                     <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                     <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                         <span class="sr-only">Previous</span>
                     </a>
                     <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                         <span class="sr-only">Next</span>
                     </a>
                 </div><!-- /.carousel -->
             </div>
             <div class="col-md-3 baner-prav">
                 <p>Акция! Стоимость домокомплекта по курсу 19,5грн за 1$</p> <p>До конца акции осталось:</p>
                 <button class="btn btn-lg btn-primary" type="button">Заказать расчёт</button>
             </div>
         </div>

         <div class="row triggers">
             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/garantiya.jpg' %}
                                <img class="media-object" src="{{ asset_url }}" alt="Гарантия на канадские дома">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Гарантия на дома из сип-панелей 10 лет!</h4>
                         <p>Все материалы экологически-чистые и имеют все сертификаты качества</p>
                     </div>
                 </div>

             </div>
             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/dostavka.png' %}
                                <img class="media-object" src="{{ asset_url }}" alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Гарантия на дома из сип-панелей 10 лет!</h4>
                         <p>Все материалы экологически-чистые и имеют все сертификаты качества</p>
                     </div>
                 </div>

             </div>
             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/money.png' %}
                                <img class="media-object" src="{{ asset_url }}"  alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Гарантия на дома из сип-панелей 10 лет!</h4>
                         <p>Все материалы экологически-чистые и имеют все сертификаты качества</p>
                     </div>
                 </div>

             </div>
         </div>

         <section><h2  style="text-align: center;">Преимущества канадской технологии:</h2> </section>

         <div class="row triggers">

             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/check.png' %}
                                <img class="media-object" src="{{ asset_url }}" alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Низкая стоимость</h4>
                         <p>В 3 раза дешевле традиционной кирпичной</p>
                     </div>
                 </div>
             </div>

             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/check.png' %}
                                <img class="media-object" src="{{ asset_url }}" alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Низкая стоимость</h4>
                         <p>В 3 раза дешевле традиционной кирпичной</p>
                     </div>
                 </div>
             </div>

             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/check.png' %}
                                <img class="media-object" src="{{ asset_url }}" alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Низкая стоимость</h4>
                         <p>В 3 раза дешевле традиционной кирпичной</p>
                     </div>
                 </div>
             </div>

         </div>

         <div class="row triggers">

             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/check.png' %}
                                <img class="media-object" src="{{ asset_url }}" alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Низкая стоимость</h4>
                         <p>В 3 раза дешевле традиционной кирпичной</p>
                     </div>
                 </div>
             </div>

             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/check.png' %}
                                <img class="media-object" src="{{ asset_url }}" alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Низкая стоимость</h4>
                         <p>В 3 раза дешевле традиционной кирпичной</p>
                     </div>
                 </div>
             </div>

             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/check.png' %}
                                <img class="media-object" src="{{ asset_url }}" alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Низкая стоимость</h4>
                         <p>В 3 раза дешевле традиционной кирпичной</p>
                     </div>
                 </div>
             </div>

         </div>

         <h2   style="text-align: center;">Почему клиенты выбирают нас:</h2>

         <div class="row triggers">

             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/check.png' %}
                                <img class="media-object" src="{{ asset_url }}" alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Низкая стоимость</h4>
                         <p>В 3 раза дешевле традиционной кирпичной</p>
                     </div>
                 </div>
             </div>

             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/check.png' %}
                                <img class="media-object" src="{{ asset_url }}" alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Низкая стоимость</h4>
                         <p>В 3 раза дешевле традиционной кирпичной</p>
                     </div>
                 </div>
             </div>

             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/check.png' %}
                                <img class="media-object" src="{{ asset_url }}" alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Низкая стоимость</h4>
                         <p>В 3 раза дешевле традиционной кирпичной</p>
                     </div>
                 </div>
             </div>

         </div>

         <div class="row triggers">
             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/check.png' %}
                                 <img class="media-object" src="{{ asset_url }}" alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Низкая стоимость</h4>
                         <p>В 3 раза дешевле традиционной кирпичной</p>
                     </div>
                 </div>
             </div>

             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/check.png' %}
                                <img class="media-object" src="{{ asset_url }}" alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Низкая стоимость</h4>
                         <p>В 3 раза дешевле традиционной кирпичной</p>
                     </div>
                 </div>
             </div>

             <div class="col-md-4">
                 <div class="media">
                     <div class="media-left media-middle">
                         <a href="#">
                             {% image '@SipBundle/Resources/public/images/check.png' %}
                                <img class="media-object" src="{{ asset_url }}" alt="">
                             {% endimage %}
                         </a>
                     </div>
                     <div class="media-body">
                         <h4 class="media-heading">Низкая стоимость</h4>
                         <p>В 3 раза дешевле традиционной кирпичной</p>
                     </div>
                 </div>
             </div>

         </div>








 {% endblock %}