{% extends "::base.html.twig" %}

{% block title %}Цена и сроки{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Стоимость домокомплекта из сип-панелей</h3></div>
        <div class="panel-body">
            <p>В стоимость домокомлекта входит:</p>
            <p>
                1. Обвязочные брусья, мауэрлат<br>
                2. Пол и перекрытия этажей из сип-панелей толщиной 170 мм.<br>
                3. Внешние стены из сип-панелей толщиной 170 мм.<br>
                4. Внутренние перегородки толщиной 120 мм.<br>
                5. Крепёж. <br>
                6. Инструкция для сборки домокомплекта. <br>
            </p>
            <p>Все панели раскроены под проект вместе с силовым брусом. Остаётся только собрать коробку дома как конструктор. Панели содиняются между собой по системе шип-паз.</p>
        </div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Характеристика</th>
                    <th>Базовая (толщина сип-панели 170мм., высота - 2500мм)</th>
                    <th>Премиум (толщина сип-панели 170мм., высота - 2800мм)</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>до 100 м2</td>
                <td>135$</td>
                <td>145$</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>100-150 м2</td>
                <td>130$</td>
                <td>135$</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>150-300 м2</td>
                <td>125$</td>
                <td>130$</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Стоимость сип-панелей</h3></div>
        <div class="panel-body">
            <p>Сип-панель состоит из:</p>
            <p>
                1. Двух листов OSB европейского производителя 2500х1250х10мм, OSB-3, E-1 и 2800х1250х10мм, OSB-3, E-1<br>
                2. Пенополистирол марки ПСБ-С-25 производства Украина<br>
                3. Клей марки LESSON (Англия)<br>
            </p>
        </div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Размер сип-панели, мм</th>
                <th>Площадь панели, м2</th>
                <th>OSB/ПСБ-С-25.OSB, мм</th>
                <th>Цена панели, $</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CИП-панель</td>
                    <td>2500х1250х120</td>
                    <td>3.125</td>
                    <td>10/100/10</td>
                    <td> 55 </td>
                </tr>
                <tr>
                    <td>CИП-панель</td>
                    <td>2500х1250х170</td>
                    <td>3.125</td>
                    <td>10/150/10</td>
                    <td> 64 </td>
                </tr>
                <tr>
                    <td>CИП-панель</td>
                    <td>2500х1250х200</td>
                    <td>3.125</td>
                    <td>10/180/10</td>
                    <td> 70 </td>
                </tr>
                <tr>
                    <td>CИП-панель</td>
                    <td>2800х1250х120</td>
                    <td>3.5</td>
                    <td>10/100/10</td>
                    <td> 62 </td>
                </tr>
                <tr>
                    <td>CИП-панель</td>
                    <td>2800х1250х170</td>
                    <td>3.5</td>
                    <td>10/150/10</td>
                    <td> 70 </td>
                </tr>
                <tr>
                    <td>CИП-панель</td>
                    <td>2800х1250х200</td>
                    <td>3.5</td>
                    <td>10/180/10</td>
                    <td> 78 </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
