{% extends "::base.html.twig" %}

{% block title %}Наши дома{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- подключение CSS файла Fancybox -->
    <link rel="stylesheet" href="/bundles/sip/fancybox/jquery.fancybox.css" type="text/css" media="screen" />

{% endblock %}

{% block content %}
    <h2 class="page-header text-center">Дача 46 м2</h2>
    <div class="row">

        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            {% image '@SipBundle/Resources/public/images/13.jpg' %}
            <a href="{{ asset_url }}" class="fancyimage thumbnail" data-fancybox-group="group">

                <img class="img-responsive" src="{{ asset_url }}" alt="">

            </a>
            {% endimage %}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            {% image '@SipBundle/Resources/public/images/12.jpg' %}
            <a href="{{ asset_url }}" class="fancyimage thumbnail" data-fancybox-group="group">

                <img class="img-responsive" src="{{ asset_url }}" alt="">

            </a>
            {% endimage %}
        </div>



        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            {% image '@SipBundle/Resources/public/images/2.jpg' %}
            <a href="{{ asset_url }}" class="fancyimage thumbnail" data-fancybox-group="group">

                <img class="img-responsive" src="{{ asset_url }}" alt="">

            </a>
            {% endimage %}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            {% image '@SipBundle/Resources/public/images/1.jpg' %}
            <a href="{{ asset_url }}" class="fancyimage thumbnail" data-fancybox-group="group">

                <img class="img-responsive" src="{{ asset_url }}" alt="">

            </a>
            {% endimage %}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            {% image '@SipBundle/Resources/public/images/4.jpg' %}
            <a href="{{ asset_url }}" class="fancyimage thumbnail" data-fancybox-group="group">

                <img class="img-responsive" src="{{ asset_url }}" alt="">

            </a>
            {% endimage %}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            {% image '@SipBundle/Resources/public/images/5.jpg' %}
            <a href="{{ asset_url }}" class="fancyimage thumbnail" data-fancybox-group="group">

                <img class="img-responsive" src="{{ asset_url }}" alt="">

            </a>
            {% endimage %}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            {% image '@SipBundle/Resources/public/images/10.jpg' %}
            <a href="{{ asset_url }}" class="fancyimage thumbnail" data-fancybox-group="group">

                <img class="img-responsive" src="{{ asset_url }}" alt="">

            </a>
            {% endimage %}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            {% image '@SipBundle/Resources/public/images/11.jpg' %}
            <a href="{{ asset_url }}" class="fancyimage thumbnail" data-fancybox-group="group">

                <img class="img-responsive" src="{{ asset_url }}" alt="">

            </a>
            {% endimage %}
        </div>




    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Подключение JS файла Fancybox -->
    {#<script type="text/javascript" src="/bundles/sip/fancybox/jquery.fancybox.js"></script>#}

    {% javascripts
        '@SipBundle/Resources/public/fancybox/*'
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            $("a.fancyimage").fancybox();
        });
    </script>
{% endblock %}
