{% extends '::base.html.twig' %}

 {% block content %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('project') }}">
                Back to the list
            </a>
        </li>
    <h1>Project creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"
           class="btn btn-default pull-right" />
    {{ form_end(form) }}


</ul>
{% endblock %}
