{% extends 'default/admin.html.twig' %}

 {% block content %}
    <h1>Project list</h1>
    <a href="{{ path('project_create') }}">New project</a>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Characteristics</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Floorsquantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('project_show', { 'slug': entity.slug }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.characteristics }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.currency }}</td>
                <td>{{ entity.floorsQuantity }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('project_show', { 'slug': entity.slug }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
