{% extends "::base.html.twig" %}

{% block title %}Дачный дом по канадской технологии{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- подключение CSS файла Fancybox -->
    <link rel="stylesheet" href="/bundles/sip/fancybox/jquery.fancybox.css" type="text/css" media="screen" />

{% endblock %}

 {% block content %}
    <h2 class="page-header text-center">Дом {{ project.area }} м² («{{ project.name }}»)</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-responsive" src="{{ asset('bundles/sip/images/do100/' ~ project.slug ~ "_1.jpg" ) }}">
            </div>
        </div>
        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">Характеристики проекта</div>
                <ul class="list-group">
                    <li class="list-group-item "><span class="badge"> {{ project.area }} м²</span>Общая площадь:</li>
                    <li class="list-group-item"><span class="badge"> 34,28 м²</span>Гостиная:</li>
                    <li class="list-group-item"><span class="badge">  8,82 м²</span>Кухня:</li>
                    <li class="list-group-item"><span class="badge"> 6,3 м²</span>Сан.узел:</li>
                    <li class="list-group-item"><span class="badge"> 10,6 м² + 10,6 м²</span>Спальня:</li>
                    <li class="list-group-item"><span class="badge"> 16 м²</span>Терраса:</li>

                </ul>
                <div>
                    <h4 class="text-center ">Стоимость базовой комплектации дома: </h4>
                    <h3 class="text-center"> <span class="label label-success "> от {{ project.price }} {{ project.currency }}</span></h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item "> <button type="button" class="btn btn-primary btn-lg btn-block">Оформить заявку</button></li>

                </ul>
            </div>

        </div>
    </div>
    <h2 class="page-header text-center">Планировка </h2>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-responsive" src="{{ asset('bundles/sip/images/do100/' ~ project.slug ~ "_2.jpg" ) }}">
            </div>
        </div>
        <div class="col-md-6">
            <p>Что-то не подходит? Нет проблем. Обращайтесь, и мы создадим для Вас
                проект совершенно бесплатно! В комплектацию и планировки дома можно
                внести любые изменения с соответствующей корректировкой бюджета</p>

        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Подключение JS файла Fancybox -->
    {#<script type="text/javascript" src="/bundles/sip/fancybox/jquery.fancybox.js"></script>#}

    {% javascripts
    '@SipBundle/Resources/public/fancybox/*'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            $("a.fancyimage").fancybox();
        });
    </script>
{% endblock %}
