{% extends '::base.html.twig' %}

{% block content %}
    <h1>Feedback list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Phone</th>
                <th>Question</th>
                <th>Name</th>
                <th>Email</th>
                <th>Createdat</th>
                <th>Notes</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('feedback_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.question }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.notes }}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('feedback_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('feedback_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('feedback_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
