{% extends '::base.html.twig' %}

 {% block content %}
    <h1>Feedback creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('feedback') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
