.baner{
    padding-left: 0;
    padding-right: 0;
}
.baner-prav{
	text-align:center;
}

.triggers div{

	margin-top: 10px;
}
.premium div{
	font-size: 18px;

}

#footer {
	background: none repeat scroll 0 0 #777;
	color:#fff;
}