{% extends "::base.html.twig" %}

{% block title %}Контакты компании "СипХаус" по производству домов из сип-панелей{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <address>
                <strong>Адрес</strong><br>
                Харьков, пр.Московский 199-Д5, БЦ «IBC Capital», офис 119.5<br>
                <strong>Телефоны</strong><br>
                <h5><i class="fa fa-phone"></i>{{ tel_1 }}</h5>
                <h5><i class="fa fa-phone"></i>{{ tel_2 }}</h5>
                <h5><i class="fa fa-phone"></i>{{ tel_3 }}</h5>
                <strong>Почта</strong><br>
                <h5><i class="fa fa-envelope-o"></i>{{ mail }}</h5>
            </address>

        </div>

        <div class="col-md-6">

            {#<form class="form-horizontal">#}
                {#<div class="form-group">#}
                    {#<label for="inputEmail3" class="col-sm-2 control-label">Телефон</label>#}
                    {#<div class="col-sm-10">#}
                        {#<input type="email" class="form-control" id="inputEmail3" placeholder="с">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group">#}
                    {#<div class="col-sm-offset-2 col-sm-10">#}
                        {#<button type="submit" class="btn btn-primary">Отправить</button>#}
                    {#</div>#}
                {#</div>#}
            {#</form>#}



            {{ form_start(form, {'action': path('contact_create'), 'attr': {'class': 'form-horizontal'} }) }}
            <div class="form-group">
                {{ form_label(form.feedback) }}
                <div class="col-sm-10">
                    {{ form_widget(form.feedback) }}
                </div>

            </div>
            <div class="form-group">
                {{ form_label(form.question) }}
                <div class="col-sm-10">
                    {{ form_widget(form.question) }}
                </div>

            </div>
            <div class="form-group">
                {{ form_label(form.name) }}
                <div class="col-sm-10">
                    {{ form_widget(form.name) }}
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.save) }}
                </div>
            </div>
            {{ form_errors(form.feedback) }}
            {{ form_end(form) }}


        </div>

    </div>
    <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Df_9ymEOaU0DipAWAgAvDxewbSbzZ2h5&height=350"></script>
    <h4>Нажмите на картинку, чтобы покрутить панораму</h4>

    <script src="https://panoramas.api-maps.yandex.ru/embed/1.x/?lang=uk_UA&amp;l=stv&amp;ll=36.29973652%2C49.97268725&amp;ost=dir%3A-3.508664483337736%2C1.5346752832147044~spn%3A90.02055548598085%2C44.55797133865422&amp;size=1140%2C370"></script>
{% endblock %}
